
.navbar-logo {
    width: 200px;
    max-height: fit-content;
}

/* #quarto-document-content{
    margin-top: 0px;
} */

.navbar-dark{
    /* background-color: #222; */
    /* background-color: #582C83; */
    --bs-navbar-hover-color: rgba(196, 176, 235, 0.1);
}

.nav-item{
    /* margin-left: 5%;
    margin-left: 5%; */
}

.sidebar-item{
    margin-top: 5%;
}

.dropdown-menu{
    --bs-dropdown-link-hover-bg: #582C83;
}

#quarto-sidebar{
    border-right: 1px solid #383838;
    background: #222;
}

.navbar{
    /* background: #222; */
    border-bottom: 1px solid #383838;
}